@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Foldit:wght@500&family=Kablammo&family=Montserrat:ital,wght@0,300;1,100;1,300&family=Open+Sans:wght@400;700;800&family=Poppins:ital,wght@0,200;0,500;0,900;1,500;1,600&family=Raleway:ital,wght@0,400;0,500;0,700;0,900;1,400;1,700;1,900&family=Roboto:wght@300&family=Work+Sans:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';
}

/* ############# nav section styling ############## */
.header-section-nav {
    display: flex;
    justify-content: space-around;
    gap:112px;
    align-items: center;
    padding-top: 38px;
}

.nav-items ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.nav-items li {
    list-style: none;
}

.follow-us-btn {
    background-color: rgba(11, 2, 35, 0.10);
    padding: 18px 18px 18px 24px;
    border-radius: 8px;
}

.follow-us-btn:hover {
    background-color: #fff;
    border: 2px solid rgba(11, 2, 35, 0.10);
    ;
    font-weight: 700;
}

.nav-items a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;

}

.header-logo-icon {
    font-size: 45px;

}

.color-red {
    color: red;
    margin-right: 16px;
    margin-left: 24px;
}

.color-blue {
    color: blue;
}

.color-pink {
    color: #FF42A5;
}

/* ############### goat-section-styling ########## */
.goat-section-main {
    display: flex;
    justify-content: center;
    gap: 68px;
    align-items: center;
    background-color: rgba(241, 68, 174, 0.03);
    margin-top: 37px;

}

.goat-section-main-contant {
    text-align: center;
    width: 45%;
}

.goat-section-h2 {
    font-size: 48px;
    font-weight: 600;
}

.goat-section-main-title {
    font-size: 95px;
    font-weight: 900;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.goat-section-main-images {}

.goat-section-main-contant li {
    list-style: none;
    font-size: 20px;
    font-weight: 500;
}

.pink-btn {
    background-color: #FF42A5;
    color: #fff;
    border: none;
    border-radius: 48px;
    padding: 22px 40px;

}

.pink-btn a,
.sky-btn a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.sky-btn {
    background-color: #4EC5F7;
    color: #fff;
    border: none;
    border-radius: 48px;
    padding: 22px 40px;
    margin-left: 24px;

}

.sky-btn:hover {
    background-color: #FFF;
    color: #4EC5F7;
    border: 2px solid #4EC5F7;
}

.sky-btn a:hover {
    color: #4EC5F7;
}

.pink-btn:hover {
    background-color: #FFF;
    color: #FF42A5;
    border: 2px solid #FF42A5;
}

.pink-btn a:hover {
    color: #FF42A5;

}



.goat-section-btns {
    padding-top: 40px;
}

/* ############## gamer-section-styling ############ */

.we-are-gamer-section-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 53px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin-top: 40px;
}

.gamer-section-main-content {
    max-width: 520px;
    text-align: right;
}

.gamer-section-p {

    text-align: right;
    font-size: 18px;
    font-weight: 400;
    color: #534C64;
    padding-top: 24px;
    padding-bottom: 24px;

}

.gamer-section-main-title {
    font-size: 48px;
    font-weight: 900;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-section-h2 {
    font-size: 32px;
    color: #534C64;
}

.text-light {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
}

/* ##############funny-section-styling ############## */
.funny-vidoes-main-section {
    text-align: center;
}

.funny-vidoes-section-main-content {
    padding-top: 129px;
}

.funny-vidoes-main-title {
    font-size: 48px;
    font-weight: 700;
}

.background-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.funny-vidoes-main-p {
    font-size: 18px;
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 48px;
    color: #534C64;

}

.funny-section-all-boxes {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.box-title {
    font-size: 20px;
    font-weight: 500;
    max-width: 342px;
    padding-top: 24px;
}


/* ############ play-section-styling ############# */
.play-section-main {
    display: flex;
    gap: 200px;
    align-items: center;
    justify-content: center;
    margin: 120px 250px;
}

.play-section-main-content {
    max-width: 350px;
    text-align: right;
}

.play-section-main-title {
    font-size: 48px;
    font-weight: 700;

}

.play-section-background-color {
    color: #F948B2;
}

.play-section-main-paragraph {
    font-size: 18px;
    font-weight: 400;
    color: #534C64;
    padding-top: 24px;

}

.play-section-img {
    max-width: 501px;
    height: 650px;
}

.play-section-small-img {
    position: relative;
    right: 600px;
    bottom: -100px;
}

/* ############## action-buttom-main-section-styling ################# */
.action-buttom-main {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 10px auto;

}

.top-line {
    margin: 10px auto;
    text-align: center;
}

.bottom-line {
    text-align: center;
}

.action-btn {
    border: none;
    text-align: center;
    border-radius: 48px;
    font-size: 20px;
    padding: 20px;
    margin: 10px 5px 16px 57px;
}

.action-btn:hover {
    color: #FF42A5;
    border: 2px solid #FF42A5;

}

/* ###############foooter-section-styling ##################### */
.footer-section-main {
    background: #0B0223;
    text-align: center;
    color: white;
}

.footer-logo-icon {
    padding-top: 120px;
}

.footer-section-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding-top: 56px;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

.footer-section-ul li {
    list-style: none;

}

.footer-section-ul a {
    text-decoration: none;

}

.footer-section-all-icon {
    padding-top: 66px;
    padding-bottom: 66px;
}

.footer-section-all-icon a {
    text-decoration: none;
    color: white;

}

.icon {

    padding-right: 40px;
}

.footer-section-main-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.footer-section-main li {
    list-style: none;
}

.footer-section-main a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    ;
    font-size: 16px;
    font-weight: 400;
}

.footer-section-details-main {
    padding-bottom: 18px;
}
.copyright-footer-p{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.60);
    padding-bottom: 130px;
}

/* ########################media-quarey-styling ########################## */
/* ########## for mobile ################### */

@media screen and (max-width:425px ) {
    body{
        margin: 0;
        max-width:100%;
    }
.header-section-nav{
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* max-width: 400px; */
   
}
.nav-items ul{
    flex-direction: column;

}
.goat-section-main{
    /* max-width: 400px; */
    flex-direction: column;
    align-items: center;
}
.we-are-gamer-section-main{
    flex-direction: column;
}
.funny-section-all-boxes{
    flex-direction: column;
}
.play-section-main{
    flex-direction: column;
}
.action-buttom-main{
    display: flex;
    
}
.footer-section-ul{
    flex-direction: column;
}
}