@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Foldit:wght@500&family=Kablammo&family=Montserrat:ital,wght@0,300;1,100;1,300&family=Open+Sans:wght@400;700;800&family=Poppins:ital,wght@0,200;0,500;0,900;1,500;1,600&family=Raleway:ital,wght@0,400;0,500;0,700;0,900;1,400;1,700;1,900&family=Roboto:wght@300&family=Work+Sans:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';
}

/* ############# nav section styling ############## */
.header-section-nav {
    display: flex;
    justify-content: space-around;
    gap:7rem;
    align-items: center;
    padding-top: 2.5rem;
}

.nav-items ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.nav-items li {
    list-style: none;
}

.follow-us-btn {
    background-color: rgba(11, 2, 35, 0.10);
    padding: 1.12rem 1.12rem 1.12rem 1.5rem;
    border-radius: 8px;
}

.follow-us-btn:hover {
    background-color: #fff;
    border: 0.125rem solid rgba(11, 2, 35, 0.10);
    ;
    font-weight: 700;
}

.nav-items a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.125rem;

}

.header-logo-icon {
    font-size: 2.8125rem;

}

.color-red {
    color: red;
    margin-right: 1rem;
    margin-left: 1.5rem;
}

.color-blue {
    color: blue;
}

.color-pink {
    color: #FF42A5;
}

/* ############### goat-section-styling ########## */
.goat-section-main {
    display: flex;
    justify-content: center;
    gap: 4.25rem;
    align-items: center;
    background-color: rgba(241, 68, 174, 0.03);
    margin-top: 2.125rem;

}

.goat-section-main-contant {
    text-align: center;
}

.goat-section-h2 {
    font-size: 3rem;
    font-weight: 600;
}

.goat-section-main-title {
    font-size: 5.93rem;
    font-weight: 900;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.goat-section-main-images {}

.goat-section-main-contant li {
    list-style: none;
    font-size: 1.25rem;
    font-weight: 500;
}

.pink-btn {
    background-color: #FF42A5;
    color: #fff;
    border: none;
    border-radius: 3rem;
    padding: 1.375rem 2.5rem;

}

.pink-btn a,
.sky-btn a {
    color: #fff;
    text-decoration: none;
    font-size: 1.25rem;
}

.sky-btn {
    background-color: #4EC5F7;
    color: #fff;
    border: none;
    border-radius: 3rem;
    padding: 1.375rem 2.5rem;
    margin-left: 1.5rem;

}

.sky-btn:hover {
    background-color: #FFF;
    color: #4EC5F7;
    border: 0.125rem solid #4EC5F7;
}

.sky-btn a:hover {
    color: #4EC5F7;
}

.pink-btn:hover {
    background-color: #FFF;
    color: #FF42A5;
    border: 0.125rem solid #FF42A5;
}

.pink-btn a:hover {
    color: #FF42A5;

}



.goat-section-btns {
    padding-top: 2.5rem;
}

/* ############## gamer-section-styling ############ */

.we-are-gamer-section-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.3125rem;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin-top: 2.5rem;
}

.gamer-section-main-content {
    max-width: 32.5rem;
    text-align: right;
}

.gamer-section-p {

    text-align: right;
    font-size: 1.125rem;
    font-weight: 400;
    color: #534C64;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

}

.gamer-section-main-title {
    font-size: 3rem;
    font-weight: 900;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-section-h2 {
    font-size: 2rem;
    color: #534C64;
}

.text-light {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
}

/* ##############funny-section-styling ############## */
.funny-vidoes-main-section {
    text-align: center;
}

.funny-vidoes-section-main-content {
    padding-top: 8rem;
}

.funny-vidoes-main-title {
    font-size: 3rem;
    font-weight: 700;
}

.background-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.funny-vidoes-main-p {
    font-size: 1.125rem;
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 3rem;
    color: #534C64;

}

.funny-section-all-boxes {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.box-title {
    font-size: 1.25rem;
    font-weight: 500;
    max-width: 21.37rem;
    padding-top: 1.5rem;
}


/* ############ play-section-styling ############# */
.play-section-main {
    display: flex;
    gap: 12.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 7.5rem ;
    margin-bottom: 7.5rem ;
}

.play-section-main-content {
    max-width: 21.875rem;
    text-align: right;
}

.play-section-main-title {
    font-size: 3rem;
    font-weight: 700;

}

.play-section-background-color {
    color: #F948B2;
}

.play-section-main-paragraph {
    font-size: 1.125rem;
    font-weight: 400;
    color: #534C64;
    padding-top: 1.5rem;

}

.play-section-img {
    max-width: 31.25rem;
    height: 40.62rem;
}

.play-section-small-img {
    position: relative;
    right: 37.5rem;
    bottom: -6.25rem;
}

/* ############## action-buttom-main-section-styling ################# */
.action-buttom-main {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    margin: 0.625rem auto;

}

.top-line {
    margin:  0.625rem auto;
    text-align: center;
}

.bottom-line {
    text-align: center;
}

.action-btn {
    border: none;
    text-align: center;
    border-radius:3rem;
    font-size: 1.25rem;
    padding: 1.25rem;
    margin: 0.625rem 0.3125rem 1rem 3.5625rem;
}

.action-btn:hover {
    color: #FF42A5;
    border: 0.125rem solid #FF42A5;

}

/* ###############foooter-section-styling ##################### */
.footer-section-main {
    background: #0B0223;
    text-align: center;
    color: white;
}

.footer-logo-icon {
    padding-top: 7.5rem;
}

.footer-section-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.75rem;
    padding-top: 3.5rem;
    color: #fff;
    font-size: 1.56rem;
    font-weight: 600;
}

.footer-section-ul li {
    list-style: none;

}

.footer-section-ul a {
    text-decoration: none;

}

.footer-section-all-icon {
    padding-top: 4.125rem;
    padding-bottom: 4.125rem;
}

.footer-section-all-icon a {
    text-decoration: none;
    color: white;

}

.icon {

    padding-right: 2.5rem;
}

.footer-section-main-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.75rem;
}

.footer-section-main li {
    list-style: none;
}

.footer-section-main a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    ;
    font-size: 1rem;
    font-weight: 400;
}

.footer-section-details-main {
    padding-bottom: 1.125rem;
}
.copyright-footer-p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.60);
    padding-bottom: 8.125rem;
}

/* ########################media-quarey-styling ########################## */
/* ########## for mobile ################### */

@media screen and (max-width:26.5625rem ) {
  
.header-section-nav{
    flex-direction: column;
    text-align: center;
    align-items: center;
    
   
}
.goat-section-h2{
    font-size: 2rem;
}
.goat-section-main-title{
    font-size: 3rem;
}
.goat-section-main-contant li {
    font-size: 1.125rem;
}
.goat-section-btns{
  flex-direction: column;
  padding: 1rem 2rem;

}
.goat-section-large-img{
    width: 25rem;
}
.gamer-section-main-img{
 width: 25rem;
}
.gamer-section-main-content{
    text-align: center;

}
.gamer-section-p{
    font-size: 1rem;
    width: 25rem;
    text-align: center;
    padding-left: 1rem;
}

.nav-items ul{
    flex-direction: column;

}
.goat-section-main{
    
    flex-direction: column;
    align-items: center;
}
.we-are-gamer-section-main{
    flex-direction: column;
}
.funny-section-all-boxes{
    flex-direction: column;
}
.play-section-main{
    flex-direction: column;
}
.action-buttom-main{
    display: flex;
    
}
.footer-section-ul{
    flex-direction: column;
}
}

/* ############ responssive for tablet ################# */
@media screen and (max-width:786px) {
    .header-section-nav{
        flex-direction: column;
        text-align: center;
        align-items: center;
        /* max-width: 400px; */
       
    }
    .nav-items ul{
        flex-direction: column;
    
    }
    .goat-section-main{
        /* max-width: 400px; */
        flex-direction: column;
        align-items: center;
    }
    .we-are-gamer-section-main{
        flex-direction: column;
    }
    .funny-section-all-boxes{
        flex-direction: column;
    }
    .play-section-main{
        flex-direction: column;
    }
    .action-buttom-main{
        display: flex;
        
    }
    .footer-section-ul{
        flex-direction: column;
    } 
}